In [2]:
import pandas as pd
df=pd.read_csv('customer_shopping_behavior.csv')

In [3]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [6]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [7]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [9]:
df['Review Rating']=df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [10]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [17]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df.columns = df.columns.str.replace('purchase_amount_(usd)','purchase_amount')
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [19]:
#create a column age_group
labels=['Young Adult','Adult','Middle-Aged','Senior']
df['age_group']=pd.qcut(df['age'],q=4,labels=labels)
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle-Aged
1   19  Young Adult
2   50  Middle-Aged
3   21  Young Adult
4   45  Middle-Aged
5   46  Middle-Aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-Aged

In [30]:
#craete column purchase_frequency_days
frequency_mapping={
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90   
}
df['purchase_frequency_days'] = (df['frequency_of_purchases'].map(frequency_mapping).fillna(0).astype(int))
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [31]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [33]:
(df['discount_applied']==df['promo_code_used']).all()

True

In [34]:
df=df.drop('promo_code_used',axis=1)
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [36]:
!pip install mysql-connector-python sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp312-cp312-win_amd64.whl.metadata (7.7 kB)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Downloading mysql_connector_python-9.5.0-cp312-cp312-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB 195.7 kB/s eta 0:01:25
   ---------------------------------------- 0.0/16.5 MB 195.7 kB/s eta 0:01:25
   ---------------------------------------- 0.1/16.5 MB 409.6 kB/s eta 0:00:41
   ---------------------------------------- 0.1/16.5 MB 409.6 kB/s eta 0:00:41
    --------------------------------------- 0.2/16.5 MB 684.7 kB/s eta 0:00:24
    --------------------------------------- 0.3/16.5 MB 629.0 kB/s eta 0:00:26
    --------------------------------------- 0.4/16.5 MB 888.4 kB/s eta 0:00:19
   - -------------------------------------- 0.5/16.5 MB 960.7 kB/s eta 0:00:17
   - -------------------------------------- 0.6/16.5 MB 1.1 MB/s eta 0:00:15
   - -------------------------------------- 0.7/16.5 MB 1.2 MB/s eta 0:00:14
   - -------------------------------------- 0.7/16.5 MB 1.2 MB/s eta 0:00:14
   -- ------------------------------------- 0.9/16.5 MB 1.4 MB/s eta 0:00:12
   -- ------------------------------------- 1.1/16.5 MB 1.5 MB/s eta 0:00:11
   -- ------------------------------------- 1.1/16.5 MB 1.5 MB/s eta 0:00:11
   -- ------------------------------------- 1.2/16.5 MB 1.4 MB/s eta 0:00:11
   --- ------------------------------------ 1.3/16.5 MB 1.5 MB/s eta 0:00:10
   --- ------------------------------------ 1.3/16.5 MB 1.5 MB/s eta 0:00:11
   --- ------------------------------------ 1.4/16.5 MB 1.5 MB/s eta 0:00:10
   --- ------------------------------------ 1.6/16.5 MB 1.6 MB/s eta 0:00:10
   ---- ----------------------------------- 1.7/16.5 MB 1.6 MB/s eta 0:00:10
   ---- ----------------------------------- 1.8/16.5 MB 1.7 MB/s eta 0:00:09
   ---- ----------------------------------- 2.0/16.5 MB 1.8 MB/s eta 0:00:09
   ---- ----------------------------------- 2.0/16.5 MB 1.8 MB/s eta 0:00:09
   ----- ---------------------------------- 2.1/16.5 MB 1.8 MB/s eta 0:00:09
   ----- ---------------------------------- 2.1/16.5 MB 1.8 MB/s eta 0:00:09
   ----- ---------------------------------- 2.1/16.5 MB 1.8 MB/s eta 0:00:09
   ----- ---------------------------------- 2.1/16.5 MB 1.8 MB/s eta 0:00:09
   ----- ---------------------------------- 2.2/16.5 MB 1.6 MB/s eta 0:00:10
   ----- ---------------------------------- 2.2/16.5 MB 1.6 MB/s eta 0:00:10
   ----- ---------------------------------- 2.2/16.5 MB 1.5 MB/s eta 0:00:10
   ----- ---------------------------------- 2.3/16.5 MB 1.5 MB/s eta 0:00:10
   ----- ---------------------------------- 2.5/16.5 MB 1.6 MB/s eta 0:00:10
   ------ --------------------------------- 2.7/16.5 MB 1.6 MB/s eta 0:00:09
   ------ --------------------------------- 2.8/16.5 MB 1.7 MB/s eta 0:00:09
   ------- -------------------------------- 3.0/16.5 MB 1.7 MB/s eta 0:00:08
   ------- -------------------------------- 3.1/16.5 MB 1.7 MB/s eta 0:00:08
   -------- ------------------------------- 3.4/16.5 MB 1.8 MB/s eta 0:00:08
   -------- ------------------------------- 3.4/16.5 MB 1.8 MB/s eta 0:00:08
   -------- ------------------------------- 3.6/16.5 MB 1.9 MB/s eta 0:00:07
   --------- ------------------------------ 3.8/16.5 MB 1.9 MB/s eta 0:00:07
   --------- ------------------------------ 3.9/16.5 MB 2.0 MB/s eta 0:00:07
   --------- ------------------------------ 4.0/16.5 MB 1.9 MB/s eta 0:00:07
   ---------- ----------------------------- 4.3/16.5 MB 2.0 MB/s eta 0:00:07
   ---------- ----------------------------- 4.3/16.5 MB 2.0 MB/s eta 0:00:07
   ----------- ---------------------------- 4.6/16.5 MB 2.0 MB/s eta 0:00:06
   ----------- ---------------------------- 4.8/16.5 MB 2.1 MB/s eta 0:00:06
   ------------ --------------------------- 5.1/16.5 MB 2.2 MB/s eta 0:00:06
   ------------ --------------------------- 5.2/16.5 MB 2.2 MB/s eta 0:00:06
   ------------- -------------------------- 5.5/16.5 MB 2.3 MB/s eta 0:00:05
   ------------- -------------------------- 5.7/16.5 MB 2.3 MB/s eta 0:00:05
   -------------- ------------------------- 6.0/16.5 MB 2.3 MB/s eta 0:00:05
   --------------- ------------------------ 6.2/16.5 MB 2.4 MB/s eta 0:00:05
   --------------- ------------------------ 6.4/16.5 MB 2.4 MB/s eta 0:00:05
   --------------- ------------------------ 6.5/16.5 MB 2.4 MB/s eta 0:00:05
   ---------------- ----------------------- 6.7/16.5 MB 2.5 MB/s eta 0:00:04
   ---------------- ----------------------- 7.0/16.5 MB 2.5 MB/s eta 0:00:04
   ----------------- ---------------------- 7.2/16.5 MB 2.5 MB/s eta 0:00:04
   ------------------ --------------------- 7.5/16.5 MB 2.6 MB/s eta 0:00:04
   ------------------ --------------------- 7.8/16.5 MB 2.7 MB/s eta 0:00:04
   ------------------- -------------------- 7.9/16.5 MB 2.6 MB/s eta 0:00:04
   ------------------- -------------------- 8.2/16.5 MB 2.7 MB/s eta 0:00:04
   -------------------- ------------------- 8.5/16.5 MB 2.8 MB/s eta 0:00:03
   --------------------- ------------------ 8.8/16.5 MB 2.8 MB/s eta 0:00:03
   --------------------- ------------------ 9.1/16.5 MB 2.9 MB/s eta 0:00:03
   ---------------------- ----------------- 9.4/16.5 MB 2.9 MB/s eta 0:00:03
   ----------------------- ---------------- 9.7/16.5 MB 3.0 MB/s eta 0:00:03
   ----------------------- ---------------- 9.9/16.5 MB 3.0 MB/s eta 0:00:03
   ----------------------- ---------------- 9.9/16.5 MB 2.9 MB/s eta 0:00:03
   ------------------------ --------------- 10.1/16.5 MB 3.0 MB/s eta 0:00:03
   ------------------------- -------------- 10.5/16.5 MB 3.3 MB/s eta 0:00:02
   -------------------------- ------------- 10.8/16.5 MB 3.4 MB/s eta 0:00:02
   -------------------------- ------------- 11.0/16.5 MB 3.5 MB/s eta 0:00:02
   --------------------------- ------------ 11.2/16.5 MB 3.6 MB/s eta 0:00:02
   ---------------------------- ----------- 11.6/16.5 MB 3.7 MB/s eta 0:00:02
   ---------------------------- ----------- 11.8/16.5 MB 3.8 MB/s eta 0:00:02
   ----------------------------- ---------- 12.1/16.5 MB 3.9 MB/s eta 0:00:02
   ------------------------------ --------- 12.5/16.5 MB 4.5 MB/s eta 0:00:01
   ------------------------------ --------- 12.7/16.5 MB 4.6 MB/s eta 0:00:01
   ------------------------------- -------- 13.0/16.5 MB 4.7 MB/s eta 0:00:01
   -------------------------------- ------- 13.2/16.5 MB 4.7 MB/s eta 0:00:01
   -------------------------------- ------- 13.3/16.5 MB 4.8 MB/s eta 0:00:01
   -------------------------------- ------- 13.6/16.5 MB 4.7 MB/s eta 0:00:01
   --------------------------------- ------ 13.9/16.5 MB 4.9 MB/s eta 0:00:01
   ---------------------------------- ----- 14.3/16.5 MB 5.2 MB/s eta 0:00:01
   ----------------------------------- ---- 14.5/16.5 MB 5.1 MB/s eta 0:00:01
   ----------------------------------- ---- 14.8/16.5 MB 5.3 MB/s eta 0:00:01
   ------------------------------------ --- 15.1/16.5 MB 5.3 MB/s eta 0:00:01
   ------------------------------------- -- 15.3/16.5 MB 5.4 MB/s eta 0:00:01
   ------------------------------------- -- 15.4/16.5 MB 5.2 MB/s eta 0:00:01
   ------------------------------------- -- 15.4/16.5 MB 5.2 MB/s eta 0:00:01
   ------------------------------------- -- 15.4/16.5 MB 5.2 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.5 MB 5.0 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.5 MB 5.0 MB/s eta 0:00:01
   -------------------------------------- - 16.1/16.5 MB 5.0 MB/s eta 0:00:01
   ---------------------------------------  16.2/16.5 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 4.9 MB/s eta 0:00:01
   ---------------------------------------  16.5/16.5 MB 5.0 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 4.9 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0

In [1]:
import mysql.connector
print(mysql.connector.__version__)

9.5.0

In [2]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Sth12@thi8",
    database="customer_behavior"
)

print("Connected to MySQL successfully!")
conn.close()

Connected to MySQL successfully!

In [8]:
import pandas as pd
from sqlalchemy import create_engine

df = pd.read_csv(r"C:\Users\Dehami\Desktop\Customer Behavior Project\customer_shopping_behavior.csv")

df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

engine = create_engine(
    "mysql+mysqlconnector://root:Sth12%40thi8@localhost:3306/customer_behavior"
)

df.to_sql(
    name="customer",
    con=engine,
    if_exists="replace",
    index=False
)

print("DataFrame successfully loaded into MySQL table 'customer'.")

DataFrame successfully loaded into MySQL table 'customer'.

In [9]:
from sqlalchemy import create_engine, text

engine = create_engine(
    "mysql+mysqlconnector://root:Sth12%40thi8@localhost:3306/customer_behavior"
)

with engine.connect() as conn:
    conn.execute(text("SELECT 1"))
    print("MySQL connection OK")

MySQL connection OK